.textBox{
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}
.textArea{
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}
.inputLabel{
    font-size: 1.5em;
    font-weight: bold;

}